@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;

}

section {
    min-height: 150vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(../assets/images/w21.jpg);
    /* background-image: url(./images/posterfluid.png); */
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 85%;
    margin: auto;
}

nav {
    height: 80px;
}

nav h1 {
    float: left;
    line-height: 80px;
    font-size: 35px;
    font-size: inline;
    color: #EAECDF;
}

nav ul {
    float: right;
    line-height: 80px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0px 5px;
}

nav ul li a {
    color: #EAECDF;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 7px 8px;
}

nav ul li a:hover {
    background-color: #97AF99;
    transition: 0.5s ease;
}

nav ul li .active {
    background-color: #173636;
}

.article {
    width: 50%;
    margin: auto;
    text-align: center;
    transform: translateY(25vh);
}

.article h1 {
    font-size: 36px;
    color: #EAECDF;
    letter-spacing: 1.5px;
    font-weight: 800;
    margin-bottom: 25px;
}

.article p {
    font-size: 18px;
    color: #EAECDF;
    line-height: 1.5;
    margin-bottom: 50px;
}

.article .button {
    color: #EAECDF;
    padding: 12px 15px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #173636;
}

.article .button:hover {
    background-color: #97AF99;
    transition: 0.5s ease;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
        background-color: #173636;
        background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(../assets/images/w21.jpg);

    }


    nav ul li {
        display: inline-block;
        list-style: none;
        padding: 0px 1px;
    }

    .article {
        width: 50%;
        margin: auto;
        text-align: center;
        transform: translateY(15vh);
    }

    .article h1 {
        font-size: 26px;
        color: #EAECDF;
        letter-spacing: 1.5px;
        font-weight: 800;
        margin-bottom: 25px;
    }

    .article p {
        font-size: 15px;
        color: #EAECDF;
        line-height: 1.5;
        margin-bottom: 50px;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        /* background-color: #173636; */
        color: #EAECDF;
        padding: 10px;
    }

    footer ul li {
        display: inline-block;
        list-style: none;
        align-items: center;
        padding: 5px 10px;
    }

}

.gg-instagram {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    border-radius: 4px;
    width: 20px;
    height: 20px
}

.gg-instagram::after,
.gg-instagram::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.gg-instagram::after {
    border: 2px solid;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    top: 3px
}

.gg-instagram::before {
    border-radius: 3px;
    width: 2px;
    height: 2px;
    background: currentColor;
    right: 1px;
    top: 1px
}

.gg-laptop {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 18px;
    height: 12px;
    border: 2px solid;
    border-radius: 2px
}

.gg-laptop::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 22px;
    height: 2px;
    background: currentColor;
    left: -4px;
    bottom: -5px;
    border-radius: 100px
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    /* background-color: #173636; */
    color: #EAECDF;
    padding: 10px;
}

footer ul li {
    display: inline-block;
    list-style: none;
    align-items: center;
    padding: 5px 10px;
}